.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-label {
	cursor: pointer;
	user-select: none;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 1rem;
	width: 12rem;
	min-width: 100%;
	text-align: center;
	border-radius: 0.75rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	background-color: #24313a;
	color: white;
	z-index: 1;
}

.dropdown-menu-item {
	padding: 15px 20px;
	cursor: pointer;
	font-size: 0.75rem;
}

.dropdown-menu-item:hover {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 0.75rem;
}

@media (prefers-color-scheme: dark) {
	.dropdown-menu {
		background-color: #24313a;
	}

	.dropdown-menu-item:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
}
